include INSTALL
include COPYRIGHT
include CHANGELOG
include README.md
include MANIFEST.in
recursive-include conf *.*
recursive-include man *.*
recursive-include scripts *.*
recursive-include crtwo2fits/data *.skel
recursive-include crtwo2fits/data *.po
recursive-include crtwo2fits/data *.mo
